@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700&display=swap');

html, body {font-family: 'Noto Sans KR', sans-serif; color: #222;}

header.header-wrapper {display: flex; justify-content: space-between; align-items: center; padding: 0.25rem 1.5rem; background-color: #eee;}
header .logo {font-size: 1.5rem; color: #1c3358;}
header .navi-wrapper {display: flex;}
header .navi {padding: 1rem; cursor: pointer;}
header .navi:first-child {position: relative;}
header .navi:first-child > .cate-wrapper {position: absolute; background-color: #555; color: #fff; width: 120px; margin-top: 0.5rem; z-index: 999; display: none;}
header .navi:first-child > .cate-wrapper > .cate {padding: 0.5rem; border-bottom: 1px solid #999;}
header a {text-decoration: none; color: inherit;}
header a:hover {text-decoration: none; color: inherit;}
header a:visited {text-decoration: none; color: inherit;}
header a:active {text-decoration: none; color: inherit;}

.wrapper {max-width: 1600px; margin: auto;}