header.header-wrapper
	h1.logo 
		a(href="/index") DAPALA SHOP
	ul.navi-wrapper
		li.navi 상품 카테고리
			ul.cate-wrapper
				li.cate
					a(href="/list") 상의
				li.cate
					a(href="/list") 하의
				li.cate
					a(href="/list") 신발
		li.navi
			a(href="/member") 회원가입
		li.navi
			a(href="/member/join") 회원로그인
		li.navi
			a(href="/cart") 장바구니
		li.navi
			a(href="/pay") 결제