extends ../layout/main.layout.pug

block mainBanner
	.slide-stage
		.slide-wrapper
			.slide
				img.img(src="/img/minimal-portfolio-banner1.jpg" alt="..")

block cateWrapper
	ul.cates
		li.cate
			a(href="/list") 상의
		li.cate
			a(href="/list") 하의
		li.cate
			a(href="/list") 신발

block listWrapper